html,body{
    height: 60%;
    width: 100%;
}

body{
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container{
    height:800px;
    width: 800px;
    display: flex;
    flex-direction: column;
    border-color: blue;
    border-width: 10px;
    border-style: solid; 
    
}

.btn{
    
    font-weight: 400;
    background-color: red;
    border-style: solid;
    width: auto;
    height: 50px;

}

.btn:active{
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

